[data-title] {
    position: relative;
    
}

.rotate-180 {
    transform: rotate( -180deg );            
    transition: transform 150ms ease;
}

.rotate-180-reverse {
    transform: rotate( 180deg );            
    transition: transform 150ms ease;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: #fff;
    white-space: nowrap; 
    background-color: rgb(85, 85, 85);
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;  
    border-radius: 3px;  
   /*  -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc); */
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

.flex {
    display: flex;
}

.index-20 {
    z-index: 20;
}

.w-full {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-70{
    width: 70%;
}

.w-1\/2 {
    width: 50%;
}

.w-2\/5 {
    width: 40%;
}

.w-3\/5 {
    width: 60%;
}

.pr-6 {
    padding-right: 6px;
}

.pr-26 {
    padding-right: 26px;
}

.px-3 {
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
}

.align-right {
    justify-content: flex-end;
    align-items: center;
}

.none {
    display: none;
}